.cardDeck {
  width: 120px;
  height: 180px;
  cursor: url('https://img.icons8.com/color/48/000000/add.png'), copy;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'name name name'
    'image image image'
    'atk hp pw';
  background-color: #0c0b13;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  padding: 5px;
  justify-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.cardDeck:hover {
  background-color: #cc0000;
  opacity: 0.8;
}
.selected {
  background-color: #2a75b3;
  opacity: 0.75;
}
.selected:hover {
  cursor: url('https://img.icons8.com/color/48/000000/undo.png'), auto;
}
.heroNameDecklist {
  grid-area: name;
  align-self: center;
  color: white;
  font-size: 15px;
}

.imgCardDecklist {
  grid-area: image;
  justify-self: center;
}

.imgDecklist {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.attackDecklist {
  grid-area: atk;
  background-color: #cc4224;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.healthPointsDecklist {
  background-color: green;
  grid-area: hp;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.powerDecklist {
  grid-area: pw;
  background-color: #f3d403;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: red;
}

.attackDecklist img,
.healthPointsDecklist img,
.powerDecklist img {
  display: none;
}

@media screen and (min-width: 900px) {
  .cardDeck {
    width: 240px;
    height: 300px;
    padding: 5px;
    justify-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .imgCardDecklist {
    width: 150px;
    height: 200px;
  }

  .attackDecklist,
  .healthPointsDecklist,
  .powerDecklist {
    width: 70px;
    height: 60px;
  }
  .attackDecklist img,
  .healthPointsDecklist img,
  .powerDecklist img {
    display: block;
    width: 40px;
    height: 40px;
  }
  .heroNameDecklist {
    font-size: larger;
  }
}
