.CardInBoardIa {
  width: 120px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'name name name'
    'image image image'
    'atk vide hp';
  background-color: #752126;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  justify-items: center;
  gap: 10px;
  margin-right: 10px;
}

.CardInBoardIaIaHand {
  width: 120px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'name name name'
    'image image image'
    'atk vide hp';
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  justify-items: center;
  gap: 10px;
  margin-right: 10px;
  background: no-repeat center/100% url('../Pictures/back-card.jpg');
  transform: rotate(180deg);
}

.CardInBoardIaIaHand .heroName,
.CardInBoardIaIaHand .imgCardDeck,
.CardInBoardIaIaHand .attack,
.CardInBoardIaIaHand .healthPoints,
.CardInBoardIaIaHand .forIaHand {
  display: none;
}

.CardInBoardIa .heroName {
  grid-area: name;
  align-self: center;
  color: white;
  font-size: 15px;
}

.CardInBoardIa .imgCardDeck {
  grid-area: image;
  justify-self: center;
  width: 75px;
  height: 100px;
  border-radius: 5px;
}

.CardInBoardIa .attack {
  grid-area: atk;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.CardInBoardIa .healthPoints {
  background-color: green;
  grid-area: hp;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.CardInBoardIa .attack img,
.CardInBoardIa .healthPoints img {
  display: none;
}

.CardInBoardIa {
  /* Start the shake animation and make the animation last for 1 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
