@font-face {
  font-family: 'pink';
  src: url(../Police/pink.ttf);
}

.containerDeckList {
  height: 100%;
}

.playerDeck {
  width: 25vw;
  margin-top: 10px;
  margin-right: 10px;
}
.totalPower {
  background-color: #f3d403;
  height: 30px;
  border-radius: 15px 15px 0 0;
}

.deck {
  background-color: rgba(5, 5, 5, 0.9);
  color: white;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  height: 50vh;
}
.totalPower p {
  color: #cc4224;
}
.pseudoPlayer {
  background-color: #2a75b3; /* #cc4224; */
  height: 30px;
  color: white;
  border-radius: 0 0 15px 15px;
}

.totalPower,
.deck,
.pseudoPlayer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonStart {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-color: white;
  height: 50px;
  width: 100px;
}
.buttonStart:hover {
  color: #f3d403;
}

.buttonStartDiv {
  text-align: center;
  margin-top: 20px;
}
.cardList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.displayNone {
  display: none;
}

.deckConfirmation {
  display: none;
}

.confirmationView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

h2 {
  font-family: pink;
  color: yellow;
  text-shadow: 3px 3px red, -3px 3px red, 3px -3px red, -3px -3px red;
  font-size: 3.5em;
  text-align: center;
  margin: 30px;
}

h3 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 30px;
}

.decklist-btn {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px red, -2px 2px red, 2px -2px red, -2px -2px red;
  font-size: 1.5em;
  color: #fbff2c;
  border-color: white;
  border: 0.1px solid white;
  padding: 1em;
  margin: 20px 30px;
}

.whiteButton {
  color: #fff;
  text-shadow: none;
}

button:hover {
  background-color: black;
  cursor: pointer;
  border-color: #fbff2c;
}

.specialFlex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.deckContainer {
  height: 100%;
}
