@font-face {
  font-family: 'pink';
  src: url(../Police/pink.ttf);
}

.containerDeckList {
  height: 100%;
}

.playerDeck {
  width: 100%;
  margin-top: 10px;
}
.totalPower {
  background-color: blue;
  height: 80px;
}

.deck {
  background-color: chartreuse;
}

.pseudoPlayer {
  background-color: red;
  height: 80px;
}

.totalPower,
.deck,
.pseudoPlayer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.displayNone {
  display: none;
}

.deckConfirmation {
  display: none;
}

.confirmationView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

h2 {
  font-family: pink;
  color: yellow;
  text-shadow: 3px 3px red, -3px 3px red, 3px -3px red, -3px -3px red;
  font-size: 3.5em;
  text-align: center;
  margin: 30px;
}

h3 {
  font-family: pink;
  color: yellow;
  text-shadow: 2px 2px red, -2px 2px red, 2px -2px red, -2px -2px red;
  font-size: 2em;
  text-align: center;
  margin: 30px;
}

button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px red, -2px 2px red, 2px -2px red, -2px -2px red;
  font-size: 1.5em;
  color: #fbff2c;
  border-color: white;
  border: 0.1px solid white;
  padding: 1em;
  margin: 20px 30px;
}

button:hover {
  background-color: black;
  cursor: pointer;
  border-color: #fbff2c;
}

.specialFlex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.deckContainer {
  height: 100%;
}
