@media only screen and (min-width: 321px) and (orientation: landscape) {
  .Portrait {
    display: none;
  }

  .Paysage {
    display: block;
  }
}

@media only screen and (min-width: 321px) and (orientation: portrait) {
  .Portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0c0c;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-size: cover;
    height: 750px;
  }

  .pageGame {
    height: 100%;
    display: flex;
  }

  .Paysage {
    display: none;
  }

  footer {
    height: 100%;
  }
}
