.HallCard {
  margin: 10px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 80%;
  border: 2px solid black;
}

.HallCard img {
  max-width: 200px;
}
table {
  border: 2px solid blue;
  margin-left: 10px;
  margin-right: 10px;
}
td {
  border: 3px dashed red;
}
h1 {
  text-align: center;
}
