.hiddenCardBlock {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  height: 100px;
}

.deckCount {
  color: white;
  font-size: 1em;
  padding: 10px;
}

strong {
  font-size: 2em;
}
