.hiddenCardBlock {
  width: 180px;
  height: 120px;
  background: no-repeat center/100% url('../Pictures/thorCardHidden.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.deckCount {
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .hiddenCardBlock {
    width: 80px;
    height: 80px;
    border-radius: 300px;
  }
}
