@font-face {
  font-family: 'Pink';
  src: url(../Police/pink.ttf);
}
html,
body {
  height: 100%;
}
.header {
  height: 100px;
}
.box {
  height: 200px;
}
body {
  background-image: url('../Pictures/Home-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn-container1,
.btn-container2 {
  display: flex;
  justify-content: center;
}

main {
  flex-grow: 1;
}

button {
  font-family: 'Pink';
}

.body-home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-new-game {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 3px 3px red, -2px 2px red, 2px -2px red, -2px -2px red;
  color: #fbff2c;
  border-color: white;
}

.btn-new-game:hover {
  background-color: black;
  cursor: pointer;
}

.btn-rules,
.btn-options,
.btn-about {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-color: white;
}

.btn-rules:hover,
.btn-options:hover,
.btn-about:hover {
  background-color: black;
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .btn-new-game {
    width: 305px;
    height: 64px;
    font-size: 36px;
    text-shadow: 3px 3px red, -2px 2px red, 2px -2px red, -2px -2px red;
  }

  .btn-rules,
  .btn-options,
  .btn-about {
    width: 125px;
    height: 64px;
    font-size: 24px;
  }

  button {
    margin: 5px;
  }
}

@media screen and (min-width: 736px) and (max-width: 1024px) {
  .btn-new-game {
    width: 480px;
    height: 150px;
    font-size: 64px;
    color: #fbff2c;
    font-size: 64px;
  }

  .btn-rules,
  .btn-options,
  .btn-about {
    width: 230px;
    height: 90px;
    font-size: 36px;
  }

  button {
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .btn-new-game {
    width: 480px;
    height: 150px;
    font-size: 64px;
    text-shadow: 5px 5px red, -2px 2px red, 2px -2px red, -2px -2px red;
  }

  .btn-rules,
  .btn-options,
  .btn-about {
    width: 230px;
    height: 90px;
    font-size: 36px;
    margin: 20px;
  }
}
