* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Pink';
  src: url(../Police/pink.ttf);
}

.RulesContainer {
  width: auto;
  height: auto;
  overflow: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;

  /* Dessin du template */
  grid-template-areas:
    'a  b '
    'c  d '
    'e  f '
    'g  h '
    'i  j ';

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  --stagger-delay: 500ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.blockRules:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}

.blockRules:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}

.blockRules:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}
.blockRules:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
  align-self: center;
  justify-self: center;
}

img {
  width: 100%;
  height: auto;
}

/*simgle block rules*/
.blockRules {
  padding: 10px;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.722);
  width: 90%;
  height: 60vh;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation-name: cardEntrance;
  animation-duration: 700ms;
  animation-timing-function: ease-out; /*rapide puis ralentit jusqu'a la fin*/
  animation-fill-mode: backwards; /*applique le "from du keyframe" avant l'animation et garde le style a la fin */
}

.rulesDetails {
  font-size: 20px;
  color: white !important;
  text-shadow: 3px 3px rgb(0, 0, 0), -2px 2px rgb(0, 0, 0),
    2px -2px rgb(0, 0, 0), -2px -2px rgb(0, 0, 0);
  color: white;
  padding: 10px;
  text-align: center;

  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (max-width: 640px) {
  .RulesContainer {
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j';
    grid-template-columns: 1fr;
  }
}
.titleRules {
  font-family: 'Pink';
}
.textRules {
  font-size: 25px;
}
